.recentEpisode {
  width: 300px;
  img {
    height: 200px;
    width: 300px;
    border-radius: 5px;
  }
}
.popular {
  width: 220px;
  img {
    width: 220px;
    height: 280px;
    border-radius: 5px;
  }
}

