main {
  .recent {
    display: flex;
    height: 300px;
    justify-content: space-between;
  }
  .popularContainer {
    display: flex;
    height: 300px;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
