main {
  .recent {
    display: flex;
    height: 300px;
    justify-content: space-between;
  }
  .popular {
    display: flex;
    height: 300px;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
