main {
  .recent {
    display: flex;
    height: 300px;
    justify-content: space-between;
  }
  .popularContainer {
    display: flex;
    height: 300px;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  .hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
  }
  
  .show{
    opacity: 1;
    transform: translateX(0);
  }
}
