button{
    margin: 10px 0;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    
}
video{
    height: 600px;
    width: 800px;
}
button.active{
    background-color: red;
}
button:last-child{
    margin-left: 10px;
}