$darkBlue: #472183;
$Blue: #4b56d2;
$lightBlue: #82c3ec;
$grey: #f1f6f5;

header {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  align-items: center;
  h1{
    font-size: 3rem;
  }
  #search {
    display: flex;
    background-color: rgb(65, 65, 65);
    padding: 5px;
    width: 200px;
    justify-content: center;
    border-radius: 10px;
    border: none;
    input {
      background-color: inherit;
      color: white;
      #hide {
        display: none;
      }
    }
    input:focus {
      outline: none;
    }
  }
}
