$darkBlue: #472183;
$Blue: #4b56d2;
$lightBlue: #82c3ec;
$grey: #f1f6f5;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  background: rgb(34, 34, 34);
  color: white;
  padding: 0 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
